<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Index</title>
</head>
<body>
    <h1>Pets Index</h1>
    
    <nav><a href="/pets/new">Add a Pet</a></nav>

    <p>
        <%= pi %>
    </p>

    <!-- How do we get our pets!? -->
    <ul>

        <% for (const petID in pets) { %>

            <li>
                My name is
                <%= pets[petID].name %>,
                I am a
                <%= pets[petID].age %>
                years old
                <%= pets[petID].type %>.

                <a href="/pets/<%= petID %>">View Pet</a>
                <a href="/pets/<%= petID %>/edit">Edit Pet</a>
                
                <!-- <a href="/pets/<%= petID %>/delete">Delete Pet</a> -->

                <form method="POST" action="/pets/<%= petID %>/delete">
                    <button type="submit">Delete Pet</button>
                </form>
            </li>

        <% } // End for loop. %>

    </ul>

</body>
</html>